<div class="wrapper wrapper_padding clearfix">			
	<div class="col-1 about homepage_content">
		<h2>About</h2>
		<hr>
		<p>Hello, everybody!</p>

		<p>I'm Pham Quoc Toan.
		I'm the founder of <a href="http://focoda.com">Focoda.com</a>.</p>

		<p>Today, connect - school, second - degree are great demand of people in the knowledge economy.
		Students take the time outside working hours to study on the computer or phone.
		We are facing a tremendous opportunity- which to access the respository of human knowledge. 
		Some businesses invest in this kind of online education are focused on business, don't uniformity in quality and quantity.</p>
		<p>To have a new direction in online education, increase the quality online learning, online learning model more interaction with technology platform based on internet. 
		How do education online becomes better? </p>
		<p>Let come with <a href="http://focoda.com">Focoda.com</a> to learning, exchange and create an intelligent learning environment!</p>
	</div>
	<div class="col-2 homepage_content">
		<h2>Stuff I've Written</h2>
		<hr>
		<% @posts.each do |post| %>
			<h3><a href="#"><%= link_to post.title, post %></a></h3>
			<p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
		<% end %>
	</div>
	<div class="col-3 homepage_content">
	<h2>Stuff I've Built</h2>
		<hr>
		<% @projects.each do |project| %>
			<h3><a href="#"><%= link_to project.title, project %></a></h3>
			<p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
		<% end %>
	</div>
</div>
